  .new-story-button,
  .current-user-avatar {
    margin-top: 0.5em;
  }
  .new-story-button {
    margin-right: 3em;
  }

  .current-user-avatar > a {
    padding: 0 !important;
    margin-right: 2em;
  }

  .sign-out {
    margin-right: 3em;
  }
